@(message: String)

<!doctype html>
<html ng-app="drag">
<head>
<script src="@routes.Assets.at("javascripts/lib/angular/angular.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/script.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css//bootstrap.css")">
<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")">
</head>
<body>
	<span draggable>Please move me!</span>
</body>
</html>